/* .contain{
    width: 1000px;
    height: 600px;
    background-color: darkcyan;
    color: white;
}

@media screen and (max-width:1024px) {
    .contain{
        background-color: blanchedalmond;
        color: black;
    }
}

@media screen and (max-width:750px) {
    .contain{
        background-color:lightpink;
        color:darkslategrey;
    }
} */

.nav{
    background-color: darkslategray;
    width: 100%;
    height: 20vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.left{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.right{
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: start;
    justify-content:space-evenly;
}
.cards{
    width: 200px;
    height: 50px;
    background-color:rgb(173, 211, 212);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px;
}

@media screen and (max-width:600px) {
    .nav{
        
    }    
}